
	<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
</style>

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	body {
		margin: 0;
		font-family: 'Roboto', sans-serif;
	}

	img {
		max-width: 100%;
	}

	p {
		margin: 0;
		padding: 0;
		color: #666;
	}

	.header {
		background: #8656EF;	
	}

	.container-top {
		max-width: 1200px;
		margin: 0 auto;
	}

	.container {
		align-items: center;
	}

	.logo {
		width: 15%;
		float: left;
	}

	.nav {
		width: 85%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.logo img {
		width: 100%;
	}

	.logo img:hover {
		box-shadow: 0px 1px 4px 6px #8B68F6;
	}

	.nav ul {
		list-style-type: none;
	}

	.nav ul li {
		display: inline-block;
		padding: 0px 10px;
	}

	.nav ul li a {
		text-decoration: none;
		color: #fff;
		transition: 0.2s all ease;
		padding: 4px 10px;
		border-radius: 5px;
	}

	.nav ul li a:hover {
		background: #9786CE;;
		box-shadow: 0px 1px 4px 2px #8B68F6;
		opacity: 0.8;
	}

	.container-top {
		padding: 10px 15px;
	}

	.header-text {
		text-align: center;
		color: #fff;
		padding: 60px 30px;
		max-width: 600px;
		margin: 0 auto;
	}

	.header-text h1 {
		font-weight: bold;
		font-family: 'Roboto', sans-serif;
	}

	.header-text p {
		text-align: center;
		line-height: 1.4;
		font-family: 'Roboto', sans-serif;
		padding-bottom: 50px;
		color: #fff;
	}


	.section-area {
		width: 100%;
	}

	.container {
		display: flex;
		padding: 30px 60px;
	}

	.col-1 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-2 {
		flex: 0 0 auto;
		width: 50%;
	}

	.col-1 p{
		line-height: 1.4;
	}

	.btn {
		margin-top: 25px;
	}

	.btn a {
		background: #5E2CED;
		padding: 10px 30px;
		color: #fff;
		text-decoration: none;
		border-radius: 5px;
		transition: 0.2s all ease;
	}

	.btn a:hover {
		opacity: 0.8;
	}

	.footer-content {
		width: 100%;

	}

	.container-2 {
		display: flex;
	}

	.wrapper {
		max-width: 25%;
		padding: 0px 60px;
	}

	.wrapper p {
		line-height: 1.6;
	}

	.wrapper a {
		text-decoration: none;
		color: #666;
	}

	.wrapper ul {
		list-style-type: none;
	}

	.wrapper ul li {
		padding: 5px 0px;
	}

	.wrapper ul li a {
		font-size: 18px;
	}